ol {list-style-image: none;}.relatedheading 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: #EBEBEB;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 16px;
        margin-bottom: 3px;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 4px;
        padding-right: 4px;
        border-color: #C0C0C0;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #C0C0C0;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.relateditem 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border-color: #000000;
        border-bottom-style: solid;
        border-bottom-width: 1pt;
        border-bottom-color: #C0C0C0;
        border-left-style: solid;
        border-left-width: 1pt;
        border-left-color: #C0C0C0;
        border-right-style: solid;
        border-right-width: 1pt;
        border-right-color: #C0C0C0;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.sectionheading2 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 11pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.bodytext 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
ul.listbullet 
{list-style-type: Disc;
        list-style-image: none;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 3px;
        }
li.listbullet, li.s13 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 2pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.popuponclick 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #E84E0F;
        background-color: #FFFF80;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 4pt;
        padding-bottom: 4pt;
        padding-left: 4pt;
        padding-right: 4pt;
        border-color: #333399;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #333399;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #333399;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #333399;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #333399;
        float: left;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: 75%;
        height: auto;
        white-space: normal;
        position: absolute;
        overflow: auto;
        z-index: 2;
       }
.sectionheading1 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 13pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 3pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.tableheading 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 11pt;
        color: #400040;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 3pt;
        padding-bottom: 3pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.tablebodytext 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.embeddedhelpdebug 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #FF0000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.property 
{display: inline;
        font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        color: #000000;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.donottranslate 
{display: inline;
        font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        color: #000000;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.property 
{display: inline;
        font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        color: #000000;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.productname 
{display: inline;
        font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        color: #22567D;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.propertyvalue\/objectname 
{display: inline;
        font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: italic;
        color: #000000;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.breadcrumbs 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 8pt;
        color: #FFFFFF;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4em;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 6pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading1 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #C0C0C0;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0pt;
        padding-bottom: 1px;
        padding-left: 0pt;
        padding-right: 0pt;
        border-color: #FF9933;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #FF9933;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading2 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #C0C0C0;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0px;
        padding-bottom: 1px;
        padding-left: 0px;
        padding-right: 0px;
        border-color: #FFE8D0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #FFE8D0;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading3 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #C0C0C0;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0pt;
        padding-bottom: 1px;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading4 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #C0C0C0;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0pt;
        padding-bottom: 1px;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading5 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #00171A;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0pt;
        padding-bottom: 1px;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading6 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 11px;
        color: #00171A;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0pt;
        padding-bottom: 1px;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexatoz 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 14pt;
        color: #808080;
        background-color: #CFCFCF;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 12pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 6pt;
        padding-bottom: 6pt;
        padding-left: 6pt;
        padding-right: 6pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexheading 
{font-family: "Segoe UI Semibold", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 14pt;
        color: #004080;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 12pt;
        padding-bottom: 6pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index1 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0pt;
        margin-right: 0cm;
        padding-top: 3pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index2 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0pt;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index3 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0pt;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexlink 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: italic;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0pt;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.toc 
{font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1,4cm;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0pt;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 6pt;
        width: auto;
        height: auto;
        white-space: normal;
       }

