.id29::before {content: "COPA-DATA";}
.id31::before {content: "www.copadata.com";}
.id32::before {content: "documentation@copadata.com";}
.id33::before {content: "sales@copadata.com";}
.id34::before {content: "support@copadata.com";}
.id35::before {content: "zenon";}
.id36::before {content: "11";}
.id43::before {content: "SICAM 230";}
.id44::before {content: "COPA-DATA France SA";}
.id45::before {content: "www.straton-plc.com";}
.id46::before {content: "support@straton-plc.com";}
.id47::before {content: "sales@straton-plc.com";}
.id48::before {content: "support@straton-plc.com";}
.id49::before {content: "zenon Logic";}
.id50::before {content: "11";}
.id52::before {content: "© Ing. Punzenberger COPA-DATA GmbH. E-Mail:";}
.id63::before {content: "1100";}
.id64::before {content: "Report Engine";}
.id72::before {content: "straton";}
.id80::before {content: "11";}
.id98::before {content: "Report Launcher";}
.id101::before {content: "zenon";}
.id102::before {content: "Service Grid";}
.id103::before {content: "10.1";}
.id109::before {content: "Engineering Studio";}
.id110::before {content: "Logic Studio";}
.id111::before {content: "Reporting Studio";}
.id112::before {content: "Service Engine";}
.id113::before {content: "Logic Service";}
.id114::before {content: "Report Engine";}
.id116::before {content: "Service Grid Studio";}
